@font-face{
    font-family: DoomFont;
    src: url('../DOOM/font/RythmOfDeath-YzL62.ttf');
}

.selector-for-some-widget{
    box-sizing: content-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img-banner{
    display: block;
    width: auto;
    height: auto;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
}

.arcademachine{
    width: 25%;
}

.banner{
    background-color: black;
}

body, html{
    margin: 0;
    padding: 0;
    background-color: black;
}

.bg{
    background-image: url("../img/bg.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.zoom{
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover{
    transform: scale(1.2);
}

.doom{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../DOOM/img/banner.jpg');
    background-blend-mode: overlay;
}

.doomtext{
    font-family: DoomFont;
}